---
layout: default
---

<div class="header-bar-blog">
  This blog is a result of a time-consuming habit of mine to write down notes on quantitative methods that I find difficult to understand (which includes quite everything). 
  Many of the posts are based on old notes that were created in my first three years of graduate school, but to which I had to return form some research project. <br />
  The best way to understand statistical models, I believe, is to play around with them by the means of simulation. 
  Hence, almost all of the post have some theoretical considerations followed by a simulation example. 
  Equations that appear in the posts will be unnecessarily lengthy. This is intentional, since what is "clear," "obvious," and "can be easily shown" from the perspective of a statistician is often not at all easy to understand for sociologists.
  I hope that these materials will be helpful for students who are as confused about these methods as I was when writing down these notes.
</div>

<ul class="post-list">
  {% for post in paginator.posts %}
    <li>
      <h2><a class="post-title" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h2>
      <p class="post-meta">{{ post.date | date: '%B %-d, %Y — %H:%M' }}</p>
      <p>{{ post.description }}</p>
    </li>
  {% endfor %}
</ul>

{% include pagination.html %}
